beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
httplib2==0.20.2
idna==3.3
oauth2==1.9.0.post1
pyparsing==3.0.7
pyTelegramBotAPI==4.3.1
python-dotenv==0.19.2
requests==2.27.1
soupsieve==2.3.1
urllib3==1.26.8
